@import 'partials/font';
@import 'partials/mixins';

$small-width: 320px;

body{
  height: 100vh;
  width: 100vw;
	background: black;
  overflow: hidden;

	*{
		-ms-interpolation-mode: nearest-neighbor; // IE 7+ (non-standard property)
  	image-rendering: -webkit-optimize-contrast; // Safari 6, UC Browser 9.9
  	image-rendering: -webkit-crisp-edges; // Safari 7+
  	image-rendering: -moz-crisp-edges; // Firefox 3.6+
  	image-rendering: -o-crisp-edges; // Opera 12
  	image-rendering: pixelated; // Chrome 41+ and Opera 26+

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  	font-family: 'VT323', sans-serif;
    color: white;
	}
}

.wrapper{
  width: $small-width;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.button{
  display: inline-block;
  position: relative;
  border: 1px solid white;
  font-size: 1.25em;

  &.action{
    width: 47.5%;
    padding: 0.25em 0 0.4em 0;
    margin: 0.125em 0;
  }

  &.inventory{
    width: 32px;
    height: 32px;
    border-color: gray;
    canvas{
      width: 100%;
      height: 100%;
    }
  }

  &.dialog{
    width: 100%;
    text-align: center;
    padding: 0.25em 0;
    margin-top: .5em;
  }

  &.warning{
    background: #881400;
  }

  &.suggest{
    background: #006800;
  }

  &.caution{
    background: #f8b800;
  }

  &:active{
    color: black;
    background-color: white;
  }
}

section#headsup, section#headsdown{
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  text-align: left;

  p{ margin: 0; white-space: nowrap;}

  #level-text{
    text-transform: uppercase;
    color: gray;
    text-align: center;
    font-size: 1.25em;
    letter-spacing: 1.5;
  }

  .hp-text::before{ content: "HP: "}

  .hp-bar{
    width: 100%;
    height: 1px;
    margin-bottom: 3px;
    transition: width 0.5s, background-color 0.5s;
  }
}

#headsup{
  height: 3.5em;

}

section#display{
  width: $small-width;
  height: ($small-width * 0.625);
  margin: 0 auto;
  padding: 0;
  position: relative;
}


section#interface{
  text-align: center;
  position: relative;

  #gameLog{
    height: 2em;
    overflow: hidden;
    margin: 0.5em 0;
    p{
      line-height: 1.1em;
      margin: 0;
      padding-top: 1em;
    }
  }

  #inventory {
    margin: 5px 0;
  }

  &.wait{
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;
    }

    .button.action{
      color: gray;
      border-color: gray;

      &::before{
        content: "...";
        background-color: black;
        line-height: 1.5em;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
      }
    }
  }

}

#dialog{
  position: absolute;
  width: calc(100% - 2px - 2em);
  height: calc(100% - 2px - 2em);
  top: -105%;
  background: black;
  border: 1px solid white;
  transition: top 0.5s;
  padding: 1em;

  &.active{
    top: 0;
    z-index: 10;
  }
}
  #dialog-text{
    margin: 0;
  }

  #dialog-buttons{
    position: absolute;
    width: calc(100% - 2em);
    bottom: 0;
    padding: 1em;
    left: 0;
  }


@import 'partials/monsters';
@import 'partials/effects';
@import 'partials/locations';