

// Monster and Player effects

#monster, #hero{

	&.dead{
		@at-root{
			@keyframes dead {
				0% { opacity: 1;}
				100% { opacity: 0;}
			}
		}
		animation: dead 1.5s forwards;
	}

	&.hit{
		@include bounce-it(hit, false, 10%, -5%, 5deg, 1, -10%, -5%, -5deg, 1, 0.25s, infinite)
	}

	&.dodge{
		@include bounce-it(dodge, true, 25%, 0%, 0, 1, -25%, 0%, 0, 1, 0.5s, infinite)
	}

}

.hp-bar{
	$light-green: #b8f818;
	$orange:#fca044;
	$magenta:#e40058;
	background: white;
	@for $i from 0 through 10{
		&.hp-#{$i * 10}{
			@if ($i < 6){
				$percent: ($i * 20%);
				background: mix($orange, $magenta, $percent);
			} @else {
				$percent: (($i - 5) * 20%);
				background: mix($light-green, $orange, $percent);
			}
		}
	}

}