
#level{ 
  width: 100%;
  height: 100%;
  overflow: hidden;

  #level-sprite{
    width: 200%;
    position: absolute;
    top: 0;
    left: 0;
    animation: level-sprite 3s steps(1, end) infinite;

    $no-animation-locations: Dungeon Volcano;

    @each $location in $no-animation-locations{
      body.#{$location} &{
        animation: none !important;
      }
    }

    $fast-animation-locations: Graveyard Mine;

    @each $location in $fast-animation-locations{
      body.#{$location} &{
        animation: level-sprite 1s steps(1, end) infinite;
      }
    }

    @at-root{
      @keyframes level-sprite {
        0% { transform: translateX(-50%);}
        50% { transform: translateX(0%);}
        100% { transform: translateX(-50%);} 
      }
    }
  }

  body.Dungeon &{
    // background: #7c7c7c;
    @include pulse(dungeon-bg,#004058,#008888, 15s);
  }
  body.Volcano &{
    // background: #881400;
    @include flicker(volcano-bg,#750202,#BD3000,10s);
  }
  body.Forest &{
    // background: #503000;
    @include pulse(forest-bg,#503000,#005800, 15s);
  }
  body.Graveyard &{
    @include flash(graveyard-bg,#272044,white, 10s);
  }
  body.Mine &{
    // background: #881400;
    @include flicker(mine-bg,#ac7c00,#f8d878,4.5s);
  }
}