
#hero, #monster{
	display: block;
	position: absolute;
	overflow: hidden;
	width: 30%;
	height: 72%;
	&.inanimate >.main-sprite{
		animation: none;
	}

	&>.main-sprite{
		position: relative;
		width: 100%;
		height: 200%;
		top: 0;
		animation: monster-ready 1.5s steps(1, end) infinite;

		@at-root{
			@keyframes monster-ready {
				0% { top: 0;}
				50% { top: -100%;}
				100% { top: 0%;}
			}
		}
	}

	&>.damage-sprite{
		position: absolute;
		width: 400%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		&.active{
			opacity: 1;
			animation: damage-sprite 0.75s steps(1,end) infinite;
		}

		@at-root{
			@keyframes damage-sprite{
				0%{ left: 0;}
				25%{ left: -100%;}
				50%{ left: -200%;}
				75%{ left: -300%;}
				100%{left: -400%;}
			}
		}
	}

	// &>.buff-box{
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// 	width: 50%;
	// 	height: 50%;
	// 	overflow: hidden;
	// 	opacity: 0;

	// 	.buff-sprite{
	// 		width: 400%;
	// 		position: relative;
	// 	}

	// 	&.active{
	// 		opacity: 1;
	// 		.buff-sprite{
	// 			animation: damage-sprite 0.5s steps(1,end) infinite;
	// 		}
	// 	}
	// }

// Monster and Player effects

	&.dead, &.escaped{
		@at-root{
			@keyframes dead {
				0% { opacity: 1;}
				100% { opacity: 0;}
			}
		}
		animation: dead 1.5s forwards;
	}

	&.hit{
		@include bounce-it(hit, false, 10%, -5%, 5deg, 1, -10%, -5%, -5deg, 1, 0.25s, infinite)
	}

	&.dodge{
		@include bounce-it(dodge, true, 25%, 0%, 0, 1, -25%, 0%, 0, 1, 0.5s, infinite)
	}
}

#monster{
	width: 30%;
	height: 72%;
	bottom: 5%;
	left: 35%;
}

#hero{
	width: 35%;
	height: 84%;
	bottom: -10%;
	left: 3%;
}



#monster, #hero{

	

}