
@keyframes monster-ready {
	0% { top: 0;}
	50% { top: -100%;}
	100% { top: 0%;}
}

#monster{
	display: block;
	width: 48px;
	height: 72px;
	position: absolute;
	overflow: hidden;
	top: 4px;
	left: 56px;

	&>#monster-sprite{
		position: relative;
		width: 100%;
		height: 200%;
		top: 0;
		animation: monster-ready 1.5s steps(1, end) infinite;
	}
}